<!--
<script language="javascript">
  jQuery(function($) {
    $('input').change(function() {
      alert('awesome!!!');
    });
  });
</script>
-->
<h3><%= @title %></h3>
<div title="<%= session[:started_at] %>" id="countdown" class="pull-right well well-small" style="color: black; font-weight:bold;"></div>
<div id="question">
  <%= render ("question") %>
</div
