<!--
<script language="javascript">
  jQuery(function($) {
    $('input').change(function() {
      alert('awesome!!!');
    });
  });
</script>
-->
<h3><%= @title %></h3>

<div id="question">
  <%= render ("question") %>
</div
