<div class="modal hide fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">О программе...</h3>
  </div>
  <div class="modal-body">
      <p><b>rExam-0.1</b></p>
      <p><b>Использованные компоненты:</b><br />
      Ruby on rails 3.2.12<br />
      Twitter bootstrap 2.3<br />
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
  </div>
</div>
